@page "/Booking"
@inject NavigationManager NavigationManager
@inject HttpClient _client
@inject IJSRuntime js
@attribute [Authorize]



<h3>Your Bookings</h3>



<button class="btn btn-secondary" @onclick="@BackCars">
    <span class="oi oi-plus"></span>
    Create New Vehicle Booking
</button>
<button class="btn btn-secondary" @onclick="@BackFlights">
    <span class="oi oi-plus"></span>
    Create New Flights Booking
</button>
<br />
<br />


<p>Vehicles Booking</p>

@if (vBooking == null)
{
    <div class="alert alert-info">Loading Vehicles...</div>
}

else
{
    <table class="table table-responsive" id="bookingsTable">
        <thead>
            <tr>
                <th>Type Of Vehicles</th>
                <th>Price</th>
                <th>Destination</th>
                <th>Address</th>
                <th>Passenger</th>
                <th>luggage</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var vehicleBookings in vBooking)
            {
                <tr>
                    <td>@vehicleBookings.Vehicles.Name</td>
                    <td>@vehicleBookings.Vehicles.Price</td>
                    <td>@vehicleBookings.Destination</td>
                    <td>@vehicleBookings.Address</td>
                    <td>@vehicleBookings.Passenger</td>
                    <td>@vehicleBookings.luggage</td>
                    <td>@vehicleBookings.Date.ToString("dd MMMM yyyy")</td>

                    <td>
                        <a href="/vehicles/view/@vehicleBookings.Id" class="btn btn-primary">
                            <span class="oi oi-book"></span>
                        </a>
                        <button class="btn btn-danger" @onclick="@(() => Delete_2(vehicleBookings.Id))">
                            <span class="oi oi-delete"></span>
                        </button>
                    </td>
                </tr>


            }
        </tbody>
    </table>
}
<p>Flight Booking</p>


@if (fBooking == null)
{
    <div class="alert alert-info">Loading Flights...</div>
}

else
{
    <table class="table table-responsive" id="bookingsTable">
        <thead>
            <tr>
                <th>Departure</th>
                <th>Destination</th>
                <th>Passenger</th>
                <th>Price</th>
                <th>Time</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var flightBookings in fBooking)
            {
                <tr>
                    <td>Singapore</td>
                    <td>@flightBookings.Flights.GoingTo</td>
                    <td>@flightBookings.Passenger</td>
                    <td>@flightBookings.Flights.Price</td>
                    <td>@flightBookings.Departing.ToString("dd MMMM yyyy")</td>
                    <td>@flightBookings.Returning.ToString("dd MMMM yyyy")</td>



                    <td>
                        <a href="/vehicles/view/@flightBookings.Id" class="btn btn-primary">
                            <span class="oi oi-book"></span>
                        </a>
                        <button class="btn btn-danger" @onclick="@(() => Delete(flightBookings.Id))">
                            <span class="oi oi-delete"></span>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<VehicleBooking> vBooking;

    private List<FlightBooking> fBooking;

    protected async override Task OnInitializedAsync()

    {
       
        vBooking = await _client.GetFromJsonAsync<List<VehicleBooking>>($"{Endpoints.VehicleBookingEndpoint}");
        fBooking = await _client.GetFromJsonAsync<List<FlightBooking>>($"{Endpoints.FlightBookingEndpoint}");
    }

    async Task Delete(int flightBookingId)
    {
        var flightBookings = fBooking.First(q => q.Id == flightBookingId);
        var confirm = await js.InvokeAsync<bool>("confirm", $"Do you want to delete {flightBookings.Id}? ");
        if (confirm)
        {
            await _client.DeleteAsync($"{Endpoints.FlightBookingEndpoint}/{flightBookingId}");
            await OnInitializedAsync();
        }
    }
    async Task Delete_2(int flightBookingdetailId)
    {
        var vehicleBookings = vBooking.First(q => q.Id == flightBookingdetailId);
        var confirms = await js.InvokeAsync<bool>("confirm", $"Do you want to delete {vehicleBookings.Id}? ");
        if (confirms)
        {
            await _client.DeleteAsync($"{Endpoints.VehicleBookingEndpoint}/{flightBookingdetailId}");
            await OnInitializedAsync();
        }
    }
    void BackCars(MouseEventArgs e)
    {
        NavigationManager.NavigateTo("TypeOfCar");
    }
    void BackFlights(MouseEventArgs e)
    {
        NavigationManager.NavigateTo("Flight");
    }

   

}