@page "/Flight/"
@inject NavigationManager NavigationManager
@inject HttpClient _client
@inject IJSRuntime js
@attribute [Authorize]




<h3>Flights</h3>

<h5><button class="btn btn-primary" @onclick="Index">Home</button> <button class="btn btn-primary" @onclick="VehicleMenu">Car</button> <button class="btn btn-primary" @onclick="Packages">Packages</button> <button class="btn btn-primary" @onclick="Traveltip">Travel tip</button></h5>

<EditForm Model="@booking" OnValidSubmit="CreateBooking">
    <DataAnnotationsValidator />
    <ValidationSummary />
    
    <div class="form-group">
        <label>Destination: </label>
        <div>
            <InputSelect @bind-Value="booking.FlightsId" class="form-control">
                <option value="">-- Select GoingToId --</option>
                @if (flights != null)
                {
                    foreach (var GoingTo in flights)
                    {
                        <option value="@GoingTo.Id">@GoingTo.GoingTo</option>
                    }
                }
            </InputSelect>
            <ValidationMessage For="@(() => booking.FlightsId)" />
        </div>
    </div>
    
    <div class="form-group">
        <label>Amount of Passenger: </label>
        <div>
            <InputNumber @bind-Value="@booking.Passenger" class="form-control" />
            <ValidationMessage For="@(() => booking.Passenger)" />
        </div>
    </div>
    <div class="form-group">
        <label>Date: </label>
        <div>
            <InputDate @bind-Value="@booking.Departing" class="form-control" />
            <ValidationMessage For="@(() => booking.Departing)" />
        </div>
    </div>
    <div class="form-group">
        <label>Time: </label>
        <div>
            <InputDate @bind-Value="@booking.Returning" class="form-control" />
            <ValidationMessage For="@(() => booking.Returning)" />
        </div>
    </div>
    <button type="submit" class="btn btn-success btn-block">
        Book
    </button>
</EditForm>


@if (flight == null)
{
<div class="alert alert-info">Loading Flights...</div> 
}

else
{
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Departure</th>
                <th>Destination</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var flights in flight)
             {
                <tr>
                    <td>Singapore</td>
                    <td>@flights.GoingTo</td>
                    <td>@flights.Price</td>

                    <td>
                        <a href="/vehicles/view/@flights.Id" class="btn btn-primary">
                            <span class="oi oi-book"></span>
                        </a>
                    </td>
                </tr>
             }
        </tbody>
    </table>}
@code {
    private List<Flights> flight;

    protected async override Task OnInitializedAsync()
    {
        flight = await _client.GetFromJsonAsync<List<Flights>>($"{Endpoints.FlightsEndpoint}");
        flights = await _client.GetFromJsonAsync<List<Flights>>($"{Endpoints.FlightsEndpoint}");
    }

    FlightBooking booking = new FlightBooking();

    private IList<Flights> flights;

    private async Task CreateBooking()
    {
        await _client.PostAsJsonAsync(Endpoints.FlightBookingEndpoint, booking);
        NavigationManager.NavigateTo("/Booking");

    }

    private void Index(MouseEventArgs e)
    {
        NavigationManager.NavigateTo("/");
    }
    private void Traveltip(MouseEventArgs e)
    {
        NavigationManager.NavigateTo("/TravelTip");
    }
    private void VehicleMenu(MouseEventArgs e)
    {
        NavigationManager.NavigateTo("VehicleMenu");
    }
    private void Packages(MouseEventArgs e)
    {
        NavigationManager.NavigateTo("Packages");
    }
    private void Booking(MouseEventArgs e)
    {
        NavigationManager.NavigateTo("Booking");
    }
}
