@page "/TypeOfCar/"
@inject NavigationManager NavigationManager
@inject HttpClient _client
@inject IJSRuntime js
@attribute [Authorize]


<h3>Vehicle Booking</h3>
<hr />
<br />

<EditForm Model="@bookingd" OnValidSubmit="CreateBookingDetail">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <label>Vehicle: </label>
        <div>
            <InputSelect @bind-Value="bookingd.VehiclesId" class="form-control">
                <option value="">-- Select Vehicle --</option>
                @if (typeofVehicle != null)
                {
                    foreach (var typeofvehicle in typeofVehicle)
                    {
                        <option value="@typeofvehicle.Id">@typeofvehicle.Name</option>
                    }
                }
            </InputSelect>
            <ValidationMessage For="@(() => bookingd.VehiclesId)" />
        </div>
    </div>

    <div class="form-group">
        <label>Destination: </label>
        <div>
            <InputText @bind-Value="@bookingd.Destination" class="form-control" />
            <ValidationMessage For="@(() => bookingd.Destination)" />
        </div>
    </div>

    <div class="form-group">
        <label>Address: </label>
        <div>
            <InputText @bind-Value="@bookingd.Address" class="form-control" />
            <ValidationMessage For="@(() => bookingd.Address)" />
        </div>
    </div>

    <div class="form-group">
        <label>No.Of Passengers: </label>
        <div>
            <InputNumber @bind-Value="@bookingd.Passenger" class="form-control" />
            <ValidationMessage For="@(() => bookingd.Passenger)" />
        </div>
    </div>

    <div class="form-group">
        <label>No.Of Luggages: </label>
        <div>
            <InputNumber @bind-Value="@bookingd.luggage" class="form-control" />
            <ValidationMessage For="@(() => bookingd.luggage)" />
        </div>
    </div>

    <div class="form-group">
        <label>Date: </label>
        <div>
            <InputDate @bind-Value="@bookingd.Date" class="form-control" />
            <ValidationMessage For="@(() => bookingd.Date)" />
        </div>
    </div>

    <button type="submit" class="btn btn-success btn-block">
        Book
    </button>
</EditForm>


@if (typeOfVehicle == null)
{
    <div class="alert alert-info">Loading Vehicles...</div> }

else
{
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Name</th>
                <th>Type Of Vehicle</th>
                <th>Seat</th>
                <th>Luggage Capacity</th>
                <th>Price$</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var vehicle in typeOfVehicle)
            {
                <tr>
                    <td>@vehicle.Name</td>
                    <td>@vehicle.TypeOfVehicles</td>
                    <td>@vehicle.Seat</td>
                    <td>@vehicle.Capacity </td>
                    <td>@vehicle.Price</td>

                    <td>
                        <a href="/vehicles/view/@vehicle.Id" class="btn btn-primary">
                            <span class="oi oi-book"></span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>}
@code {
    private List<Vehicle> typeOfVehicle;

    protected async override Task OnInitializedAsync()
    {
       
        typeOfVehicle = await _client.GetFromJsonAsync<List<Vehicle>>($"{Endpoints.TypeOfVehiclesEndpoint}");
        typeofVehicle = await _client.GetFromJsonAsync<List<Vehicle>>($"{Endpoints.TypeOfVehiclesEndpoint}");
    }

    VehicleBooking bookingd = new VehicleBooking();

    private IList<Vehicle> typeofVehicle;

    private async Task CreateBookingDetail()
    {
        await _client.PostAsJsonAsync(Endpoints.VehicleBookingEndpoint, bookingd);
        NavigationManager.NavigateTo("/booking");

    }

    private void Car(MouseEventArgs e)
    {
        NavigationManager.NavigateTo("Car");
    }
    private void Booking(MouseEventArgs e)
    {
        NavigationManager.NavigateTo("Booking");
    }
  

}
